/*Header Container*/
#headerContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
}

/*Section in header container display inline*/
#headerContainer > section {
    display: inline;
}

/*Icon section in header*/
#headerIcon {
    position: relative;
}

/*Image in icon section*/
#headerIcon > img {
    vertical-align: middle;
    margin-left: 5%;
    width: 50px;
    height: 50px;
}

/*Text in header, next to icon*/
#headerIcon >span {
    vertical-align: middle;
    margin-left: 1%;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Heiti SC";
}

/*Navbar section general settings*/
#headerNavbar {
    height: 50px;
    width: 30%;
    float: right;
    margin-right: 10px;
}

/*Navbar ul without list style*/
#headerNavbar > nav > ul {
    list-style-type: none;
}

/*Navbar list with margin*/
#headerNavbar > nav > ul > li {
    display: inline;
    margin: 5px 10px;
    font-size: 22px;
}

/*Navbar link*/
#headerNavbar > nav > ul > li > a {

}
